.header{
    height: 120px;
    background-image: linear-gradient(0 ,#fe6433 , #f53e2d);
}
.header__navbar{
    display: flex;
    /* cách xa nhau ra */
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
   padding-left: 0px;
   margin-top: 4px 0 0 0;
   display: flex;
}
.header__navbar-item{
    margin: 0 8px ;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    position: relative;
}
.header__navbar-item--qr:hover .header__qr{
    display: block;

}
.header__navbar-user{
    display: flex;
   align-items: center;
   position: relative;

}
.header__navbar-user-avt{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  
}
.header__navbar-user-name{
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
   top: 118%;
   /* padding: 8px 0; */
   right: 0;
    padding-left: 0px;
    background-color: var(--white-color);
    width: 160px;
    list-style: none;
    border-radius: 2px;
    box-shadow: 0 1px  2px #e0e0e0;
    display: none;
}
.header__navbar-user-menu::before{
    position: absolute;
    top: -8px;
    right: 0;
content: "";
width: 100px;
height: 10px;

}
.header__navbar-user-menu::after{
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    position: absolute;
    right: 10px;
}
.header__navbar-user-item{
 
}

.header__navbar-user-item a:first-child{
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    }
.header__navbar-user-item a{
    display: block;
    padding: 6px 0 8px 14px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}
.header__navbar-user-item a:hover{
    background-color: #fafafa ;
}



.header_navbar-item-link
{
    display: inline-block;
    font-size: 1.5rem;
    /* biến đặt ở base.css */
    color: var(--white-color);
    text-decoration: none;
    /* độ dày chữ */
    font-weight: 300;
}
.header__navbar-list:hover,
.header__navbar-item-:hover {
  color: rgba(255,255, 255, 0.7);
  cursor: pointer;
}
.header__navbar-item--blod{
    font-weight: 400;
}
/* dấu gạch đăng sau */
.header__navbar-item--Separate::after{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #fb9086;
    height: 16px;
    right: -9px;
    top: 2px;
    
}
.header__navbar-icon-link{
    color:var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-notify:hover .header__notify{
    display: block;
}
.header__navbar-title--no-pointer{
    cursor:default;
    color: #fff;
    
}
/* .header__navbar-item:hover .header__qr{
    display: block;
} */
/* header qr code */
.header__qr{
background-color: var(--white-color);
width: 186px;
position: absolute;
top: 118%;
padding: 8px;
border-radius: 2px;
display: none;
animation: FadeIn ease-in 0.5s;
z-index: 1;
}
/* tạo element giả bù vào 18% trên */
.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px; 
    width: 100%;
    height: 20px;   
    content: "";
    /* background: red; */
}
.header__qr-img {
    width: 100%;
    

}
.header__qr-apps{
   display: flex;
   justify-content: space-between;

}
.qr-dowload-img{
    height: 16px;

}
.header_qr-dowload-link:nth-child(1){
    margin-left: 11px;
}
.header_qr-dowload-link:nth-child(2){
    margin-right: 11px;
}
/* notifycation */
.header__notify{
position: absolute;
z-index: 1  ;
top: 118%;
width: 444px;
right: 0;
background: #fff;
border: 1px solid #D3D3D3 ;
display: none;
cursor: default;
border-radius: 2px;
/* vị trí animatinon bắt đầu */
transform-origin: top right ;
animation: headernotify ease-in 0.25s;

}
/* tạo animation */
@keyframes headernotify{
from{
    opacity: 0;
    transform: scale(0);
}
to{
    opacity: 1;
    transform: scale(1);

}
}
.header__notify::before{
    
    position: absolute;
  right: 0;
    top: -12px; 
    width: 100%;
    height: 20px;   
    content: "";
    /* background-color: red; */
    /* display: none; */
    
}
.header__notify::after{
    position: absolute;
    right: 12px;
    top: -35px; 
     border: 20px solid;
     border-color: transparent transparent red transparent ;
}

.header__notify-header{
 height: 40px;
 background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #888;
    margin: 0px 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0px;

}
.header__notify-item{
display: flex;
}
.header__notify-item:hover{
    background-color: #ccc;
}
.header__notify-item--viewed{
    background-color: rgba(238, 77, 45,0.1); ;
}
.header__notify-link{
    width: 100%;
    display: flex;
   text-decoration: none;
 
}
.header__notify-img{
width: 48px;
height: 40px;
 /* chống vỡ ảnh */
 object-fit: contain;
}
.header__notify-info{

}
.header__notify-name{
display: block;
font-size: 1.4rem;
color: var(--text-color);
font-weight: 400;
line-height: 1.8rem;
}
.header__notify-desc{
display: block;
font-size: 1.2rem;
color: #756f6e;
line-height: 1.6rem;
margin-top: 6px;
}
.header__notify-footer{
    text-align: center;
}
.header__notify-footer-btn{
    text-decoration: none;
    
}
.header__notify-footer-btn h4{
    text-align: center;
    font-weight: 400;
    color: var(--text-color);
    padding: 4px 16px;
}


/* modal */
.auth-form{
    width: 500px;

}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    margin-top: 8px ;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 450;
}
.auth-form__form{
    margin-top: 16px;
}

.auth-form__input{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 300;
    border:1px solid var(--border-color);
    border-radius: 2px;
    /* viền đậm khi click vào (input ) */
    outline: none ;
}
/* tạo lớp giả khi click vào đổi màu viền */
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 20px;
   
    /* padding: 0 8px; */
}
.auth-form__policy-text{
    font-size: 1.2rem   ;
   text-align: center;
    padding: 0 12px;
    line-height: 1.6rem;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
}


.auth-form__socicals{
    margin-top: 20px;
    background-color: #ccc;
    padding: 16px 32px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.btn--width-icon{
    text-align: center;
}
.btn.btn--size-s{
    height: 30px;
    font-size: 12px;

}
.auth-form__socicals-icon {
    font-size: 1.8rem;
}
.auth-form__socicals-fb{
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form__socicals-fb 
.auth-form__socicals-icon{
 color: var(--white-color);
  
}
.auth-form__socicals-gg {
    color: #666 ;
    background-color: var(--white-color);
}
.auth-form__socicals-gg 
.auth-form__socicals-icon{

}
.btn--width-icon{
    padding: 0 8px;
}
/* form login    */


.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid #888;
    margin: 0 12px;
}
.auth__help-link--forgot{
    color: var(--primary-color);
}
.modal{
    display: none;
}
.header-width-serch{
 height: var( --header-width-serch-height);
 display: flex;
 align-items: center;
 margin: 0 8px;
}
.header__logo{
  
    width: 200px;
    text-decoration: none;
}
.header__logo-link{
    color: transparent;
}
.header__logo-img{
    width: 150px;
    margin-right: 40px;
    
}

.header__serch{
  width: 100%;
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.header__cart{
    width: 100px;
    text-align: center;
    position: relative;
    margin-left: 50px;
    cursor: pointer;
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 2px;
    cursor: pointer;
}
.header__cart-notice{
    top:-4px  ;
    right: 10px;
    position: absolute;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D ;
}

.header__cart-list{
    margin-top: 10px;
    position: absolute;
   top: 100%;
    right: 8px;
    background-color: #fff;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 6px #ccc;
    
   animation: FadeIn ease-in 0.3s;
   cursor: default;
   display: none;
   z-index: 2;
}
.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 6px;
    top: -28px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color ) transparent;
   
}
.header__cart-list::before{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 20px;
    top: -10px;
    /* background-color: #f53e2d; */
    
}
.header__cart:hover .header__cart-list{
    display: block;
}
.header__cart-list--no-cart{
    padding: 28px 0 ;
}
/* trường hợp không có sản phẩm */
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header_no-cart-msg
{
    margin-left: auto;
    margin-right: auto;
 display: block;
}
.header__cart-no-cart-img{
    width: 40%;
    display: none;
}
.header_no-cart-msg{
    margin-top: 14px;
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__card-headding{
    text-align: left;
    margin: 8px 0 8px 12px   ;
    font-size: 1.4rem   ;
    color: #999;
    font-weight: 400;
}
.header__card-list-item{
    /* bỏ padding mặc định của thẻ ul */
padding-left: 0;
 list-style: none;
 /* view port height (50% chiều cao màn hình) */
 height: 50vh;
 /* thanh scroll trượt lên xuống  */
 overflow-y: auto;
}
.header__card-item{
 display: flex;
 align-items: center;
 padding-left: 0;
 width: 100%;
 
}
.header__card-item:hover{
    background-color: #f8f8f8 ;
}
.header__card-img {
 width: 42px;
 height: 42px;
 margin: 12px;
 border: 1px solid #757575;
}
.header__card-item-info {
    margin-right: 12px;
    width: 100%;
}
.header__card-item-heading {
display: flex;
align-items: center;
justify-content: space-between;


}
.header__card-item-name {
font-size: 1.4rem;
font-weight: 450;
line-height: 2rem;

max-height: 4rem;
overflow: hidden;
margin: 0 ;
flex: 1;
text-align: left;
/* tạo dấu 3 chấm nếu vượt quá dòng quy định */
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
/* flex: 1; */

}
.header__card-item-price {
font-size: 1.4rem;
color: var(--primary-color);
font-weight: 400;
}
.header__card-item-multiply {
    font-size: 0.9rem;
 color: #757575 ;
 margin: 0 4px;
}
.header__card-item-qnt {
 font-size: 1.2rem;
 color: #757575
}
.header__card-item-body{
 display: flex  ;
 justify-content: space-between;
}
.header__card-item-desc{
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}
.header__card-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}
.header__card-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__card-view-card{
    float: right;
    margin: 0 12px 12px 0;
}
.header__card-view-card:hover{
    opacity: 0.9;
}
.header__serch-input-wrap
{
    
    flex: 1;
    height: 100%;
    position: relative;
}
.header__serch-input{
    width: 100%;
    height: 100%;
    flex :1;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 8px;
    
}

.header__serch-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
}
.header__serch-select-label
{
 font-size: 1.6rem;
 color: var(--text-color);
}
.header__serch-select-icon
{
 color: #a09696;
 margin: 0 8px 0 24px;
 position: relative;
 top: 1.5px;
}
.header__serch-btn{
background-color:var(--primary-color);
border: none;
border-radius: 2px;
height: 34px;
width: 60px;
margin-right: 3px;


}
.header__serch-btn:hover
{
    opacity: 0.9;
    cursor: pointer;
}
.header__serch-btn-icon{
   color: #fff
   ;
   font-size: 1.4rem;
 

}
.header__serch-select{
    position: relative;
}
.header__serch-select:hover .header__serch-option{
    display: block;
    cursor: pointer;
}
.header__serch-option::before{
    content: "";
    display: block;
    top: -16px;
    width: 100%;
    height: 16px;
    /* background-color: #f53e2d; */
    position: absolute;

}
.header__serch-option
{
    z-index: 1;
position: absolute ;
text-decoration: none;
list-style-type: none;
top: 118%;
right: 0px;
width:  146px;
/* text-align: right; */
box-shadow: 0  0 3px #ccc;
padding-left: 0;
display: none;
border-radius: 2px;
}
.header__serch-option-item{
background-color: #fff;
padding: 8px ;

}
.header__serch-option-item:hover{
    background-color: #ccc;
}
.header__serch-option-item i {
font-size: 1.2rem;
color: var(--primary-color);
}
.header__serch-option-item span {
 font-size: 1.4rem;
 color: var(--text-color);
 padding: 0 6px 0 12px;
}

/*  Lịch sử tìm kiếm
*/
.header__serch-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0px;
    width: calc(100% - 16px);
    border-radius: 3px;
    background-color: var(--white-color);
    box-shadow: 0 1px  6px #666;
    display: none;
    z-index: 2;
}
.header__serch-history-heading{
margin: 6px 12px;
font-size: 1.4rem;
color: #999;
font-weight: 400;
    
}
.header__serch-input:focus ~ .header__serch-history{
    display: block;
}
.header__serch-history-list
{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px;

    
}
.header__serch-history-item {
    height: 38px;
     padding : 0 12px; 
}
.header__serch-history-item:hover{
    background-color: #fafafa;
}
.header__serch-history-item:last-child{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.header__serch-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}
/* app__container */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
        padding-top: 36px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.catetgory__heading{
    margin-top: 0;
font-size: 1.6rem;
font-weight: 400;
color: var(--text-color);
padding: 10px 16px 0;
/* sửa thành chữ in */
text-transform: uppercase;
/* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */

}
.catetgory__heading-icon{
    font-size: 1.4rem;
    margin-right: 8px;
}
.category-list{
    padding:0 0 6px 0 ;
    
}
.catergory-item{
    list-style: none;
    position: relative;
  
}
.catergory-item:first-child::before{
    display: none;
}
.catergory-item::before{
  
    content: "";
    position: absolute;

    top: 0;
    left: 16px ;
    right: 16px;
    border-top: 1px solid #e1e1e1;
}
.category-item__active .category-item__link{
  
    color:var(--primary-color) ;
}
.category-item__active .category-item__link::after{
   content: ""; 
   position: absolute;  
   border: 4px solid;
    border-color: transparent transparent transparent #333;
    left: 6px;
    top: 50%;
    transform: translateY(calc(-50% - 1px ));
}

.category-item__link{
    position: relative;
    display: block;
    padding: 6px 16px;
    font-size: 1.5rem;
    color: var(--text-color);
text-decoration: none;

/* tạo chuyển động  */
    transition:  right linear 0.1s;
    right: 0;
 
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
/* home  */
.home-filter{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.04);
    align-items: center;
   padding: 12px 22px;
   border-radius: 1px;
}
.home-filter__label{
    color: #555555;
    font-size: 1.4rem;
    margin-right: 22px;
   
}
.home-filter__label__btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.4rem;
    color: var(--text-color);
  
}
.home-filter__page-number{
    margin-right: 22px;
}
.page-curent{
    color: var(--primary-color);
}
.home-filter__page-btn{
    width: 36px;
    height: 36px;
    padding: 8px 12px;
    background-color: var(--white-color);
    font-weight: 300;
    border-radius: 2px;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #333;
}
.home-filter__page-btn--back{
background-color: #ccc;
}
.select-page__icon {
    color: #555555;
}
/* product-item */
.home__product{
    margin-bottom: 20px;
}
.home__product-item{
background-color: var(--white-color);
position: relative;
cursor: pointer;
margin-bottom: 8px;
/* tạo hiệu ứng chạy ngược lên */
transition: transform linear 0.1s;
will-change: transform;
display: inline-block;
text-decoration: none;
}
.home__product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.home__product-item__img{
    /* chiều ngang của thẻ chứa nó   */
    padding: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}
.home__product-item__name{
font-size: 1.4rem;
color: var(--text-color);
line-height: 1.8rem;
/* giới hạn dòng , nếu quá dòng thì hiện dấu ... */
height: 3.6rem;
overflow: hidden;
display: block;
display: -webkit-box;
-webkit-box-orient: vertical;
/* dòng hiển thị dấu chấm */
-webkit-line-clamp:2 ;
margin: 10px 10px 4px 10px;

/* text-overflow: ellipsis; */

}
.home__product-item_price{
display: flex;

/* đưa xuống chân dòng */
align-items: baseline;
}
.home__product-item_price-old{
    margin-left: 10px;
font-size: 1.4rem;
color: #666;
/* gạch giữa chữ */
text-decoration: line-through;
}
.home__product-item_price-curent{
font-size: 1.6rem;
color: var(--primary-color);
margin-left: 10px;
/* xuống dòng */
flex-wrap: wrap;
}
.home__product-item__action{
display: flex;
justify-content: space-between;
margin: 10px 10px 0 10px;
}
.home__product-item__like{
    
font-size: 1.4rem;
}
i.home__product-item__like-icon-fill{
    display: none;
    color: red;
}
.home__product-item__like--liked .home__product-item__like-icon-fill{
    display: inline-block;
}
.home__product-item__like--liked .home__product-item__like-icon-emty{
    display: none;
}
.home__product-item__rating{
font-size: 0.8rem;
color: #ccc;
margin-left: auto;
margin-top: -1;
}
.home__product-item__star--gold{
    color: rgb(226, 226, 23);
}
.home__product-item__star--gold{
   
  
}
.home__product-item__sold{
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}
.home__product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0px 10px ;
    font-weight: 300;
    color: #595959

}
.home__product-item__barnd{

}
.home__product-item__origin-name{

}
.home__product-item__favourite{
position: absolute;
top: 10px;
left: -4px;
/* ăn theo màu gốc */
background-color: currentColor;
color: var(--primary-color);
font-size: 1.2rem;
font-weight: 500;
line-height: 1.6rem;
padding-right: 4px;
border-top-right-radius: 3px;
border-bottom-right-radius :  3px;

}
.home__product-item__favourite::before{

    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    margin: auto;
    /* chia thành 2 hình tam giác */
    border-top:3px solid currentColor;
    border-left:3px solid transparent;
    /* độ sáng tối của màu  */
    filter: brightness(40%);
}
.home__product-item__favourite span{
    color: var(--white-color);
}
.home__product-item__favourite i {
font-size: 0.8rem;
margin:0 3px 0 5px;
color: var(--white-color);
}
.home__product-item__sale-off{
position: absolute;
right: 0;
top: 0;
width: 40px;
height: 36px;
background-color: rgba(255, 216, 64, 0.92 );
text-align: center;
}
.home__product-item__sale-off::before{
    content: "";
    position: absolute;
    bottom: -4px ;
    left: 0 ;
    /* trên trái-phải dưới */
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.92 );
    border-color: transparent currentColor transparent currentColor;
    /* filter: brightness(40%); */
}
.home__product-itemale-off-percent{
color: #ee4d2d ;
font-size: 1.3rem;
font-weight: 600;
line-height: 1.3rem;
}
.home__product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3rem;
}
/* 
.footer span {
 margin: auto;
 display: inline-block;
 margin-left: 100px;
border-width: 20px 20px 20px 20px;
border-style: solid;
border-color: blue red yellow wheat;
} */
/* FOOTER */
.footer{
    padding-top: 18px;
    border-top: 4px solid var(--primary-color) ;
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    padding-left: 0 ;
    list-style: none;
    
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #666;
    padding: 2px 0;
    display: block;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__link-icon{
    font-size: 1.8rem;
    margin-right: 8px;
}
.footer__dowload{
display: flex;
}
.footer__qr-img{
width: 80px;
/* hiển thị kích thước chuẩn ban đầu  */
object-fit: contain;
border: 1px solid #ccc;
margin-right: 16px;
}
.footer-dowload__app{
display: flex;
flex-direction: column;
justify-content: center;

}
.footer-dowload__app-img{
 height: 16px;
}
.footer-dowload__app-img{

}
.footer-dowload__app-link{
    text-decoration: none;
    list-style: none;
}
.footer__bootom{
  
    padding: 12px 0;
    background-color: #f5f5f5;
}
.footer__text {
    margin: 0 ;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}